@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 98%;
    --foreground: 0, 0%, 15%;
    --card: 0, 0%, 100%;
    --card-foreground: 0, 0%, 15%;
    --popover: 0, 0%, 100%;
    --popover-foreground: 0, 0%, 15%;
    --primary: 25, 94%, 67%;
    --primary-foreground: 0, 0%, 100%;
    --secondary: 33, 32%, 96%;
    --secondary-foreground: 0, 0%, 15%;
    --muted: 33, 20%, 96%;
    --muted-foreground: 33, 20%, 40%;
    --accent: 14, 100%, 50%;
    --accent-foreground: 0, 0%, 100%;
    --destructive: 0, 84.2%, 60.2%;
    --destructive-foreground: 0, 0%, 100%;
    --border: 33, 20%, 86%;
    --input: 0, 0%, 97%;
    --ring: 25, 94%, 67%;
    --chart-1: 203, 45%, 37%;
    --chart-2: 27, 87%, 67%;
    --chart-3: 28, 30%, 84%;
    --chart-4: 134, 61%, 41%;
    --chart-5: 340, 82%, 52%;
    --radius: 0.25rem;
  }
  .dark {
    --background: 0, 0%, 15%;
    --foreground: 0, 0%, 98%;
    --card: 0, 0%, 15%;
    --card-foreground: 0, 0%, 98%;
    --popover: 0, 0%, 15%;
    --popover-foreground: 0, 0%, 98%;
    --primary: 25, 94%, 77%;
    --primary-foreground: 0, 0%, 15%;
    --secondary: 33, 32%, 76%;
    --secondary-foreground: 0, 0%, 98%;
    --muted: 33, 20%, 76%;
    --muted-foreground: 33, 20%, 60%;
    --accent: 14, 100%, 60%;
    --accent-foreground: 0, 0%, 98%;
    --destructive: 0, 75%, 30%;
    --destructive-foreground: 0, 0%, 98%;
    --border: 33, 20%, 30%;
    --input: 0, 0%, 20%;
    --ring: 25, 94%, 77%;
    --chart-1: 220, 70%, 50%;
    --chart-2: 160, 60%, 45%;
    --chart-3: 30, 80%, 55%;
    --chart-4: 280, 65%, 60%;
    --chart-5: 340, 75%, 55%;
  }
}

.center {
  @apply flex items-center justify-center;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .recruit-grid {
    @apply grid w-full max-w-6xl grid-cols-5 gap-4 mx-auto mt-5;
  }
  .recruit-item {
    @apply py-2 text-center;
  }
  .recruit-header {
    @apply font-bold;
  }
}

